# Proyecto regresión Lineal

### importamos todas las librerias por trabajar

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

## Se trabaja con el data set "Life Expectancy" para hacer regresión Lineal

In [2]:
data_f=pd.read_csv("Life Expectancy Data.csv")
data_f.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [3]:
# Revisamos la forma que tiene nuestro dataset
data_f.shape

(2938, 22)

In [4]:
# Checamos la estadística descriptiva de los datos e identificamos nuestra variable objetivo, en este caso es la columna "Life expectancy"
data_f.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [5]:
# Revisamos si hay datos faltantes
col_nas = data_f.isna().sum(axis=0)
col_nas

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [6]:
# Hacemos una lista con las columnas que tienen datos faltantes
llenar_lista = col_nas[col_nas > 0].index.tolist()
llenar_lista

['Life expectancy ',
 'Adult Mortality',
 'Alcohol',
 'Hepatitis B',
 ' BMI ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 'GDP',
 'Population',
 ' thinness  1-19 years',
 ' thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

In [7]:

list_ciudades=data_f["Country"].unique()

# Usamos interpolación para los datos faltantes y rellenar de manera que los datos sigan la misma tendencia
for ciudad in list_ciudades:
  data_f.loc[data_f["Country"]==ciudad,llenar_lista]=data_f.loc[data_f["Country"]==ciudad,llenar_lista].interpolate()
data_f.dropna(inplace=True)

In [8]:
# Comprobamos que ya no haya más datos faltantes
data_f.isna().sum(axis=0)

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

### Seleccionamos nuestro objeto de estudio, en este caso analizaremos el año 2014

In [9]:
a2014=data_f.loc[data_f["Year"]==2014,data_f.columns]
a2014.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
17,Albania,2014,Developing,77.5,8.0,0,4.51,428.749067,98.0,0,...,98.0,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2
33,Algeria,2014,Developing,75.4,11.0,21,0.01,54.237318,95.0,0,...,95.0,7.21,95.0,0.1,547.851700,39113313.0,6.0,5.8,0.741,14.4
49,Angola,2014,Developing,51.7,348.0,67,8.33,23.965612,64.0,11699,...,68.0,3.31,64.0,2.0,479.312240,2692466.0,8.5,8.3,0.527,11.4
81,Argentina,2014,Developing,76.2,118.0,8,7.93,847.371746,94.0,1,...,92.0,4.79,94.0,0.1,12245.256450,42981515.0,1.0,0.9,0.825,17.3

In [10]:
# Se observa aún columnas con datos categóricos que habrá que remover ya que la regresión lineal trata con datos numéricos, además que no son reelevantes
df=a2014.drop(columns=['Status','Year','Country'],axis=1)
df.head()

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
17,77.5,8.0,0,4.51,428.749067,98.0,0,57.2,1,98.0,5.88,98.0,0.1,4575.763787,288914.0,1.2,1.3,0.761,14.2
33,75.4,11.0,21,0.01,54.237318,95.0,0,58.4,24,95.0,7.21,95.0,0.1,547.851700,39113313.0,6.0,5.8,0.741,14.4
49,51.7,348.0,67,8.33,23.965612,64.0,11699,22.7,101,68.0,3.31,64.0,2.0,479.312240,2692466.0,8.5,8.3,0.527,11.4
81,76.2,118.0,8,7.93,847.371746,94.0,1,62.2,9,92.0,4.79,94.0,0.1,12245.256450,42981515.0,1.0,0.9,0.825,17.3

In [11]:
#Extraemos la variable explicada 
y=df['Life expectancy ']
df=df.drop(columns=['Life expectancy '])
X=df

1       59.9
17      77.5
33      75.4
49      51.7
81      76.2
        ...
2811    76.8
2827    69.2
2843    71.7
2907    61.1
2923    59.2
Name: Life expectancy , Length: 131, dtype: float64

In [13]:
# Separamos el dataset para entrenamiento y prueba
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

## Hacemos la búsqueda de hiperparámetros con Gridsearch para ambos modelos

In [14]:
from sklearn.model_selection import GridSearchCV

In [15]:
# El primer modelo a usar es Regresión Lineal
model=LinearRegression()
model.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': False}

In [16]:
parametros1={"fit_intercept": (True,False)}
mejor_modelo1=GridSearchCV(model,parametros1,scoring="neg_root_mean_squared_error")

In [18]:
# Entrenamos en busca de los mejores parámetros
mejor_modelo1.fit(X_train,y_train)
print(mejor_modelo1.cv_results_["params"])

[{'fit_intercept': True}, {'fit_intercept': False}]

In [19]:
#Mejores parámetros (seleccionados aleatoriamente)
print(mejor_modelo1.best_score_)
print(mejor_modelo1.best_params_)

-4.21225124596044
{'fit_intercept': True}

In [20]:
# Hacemos la predicción con el mejor modelo
y_pred=mejor_modelo1.predict(X_test)

In [21]:
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(y_test,y_pred)
MSE=(MSE)**.5
MSE

10.035704624293878

In [22]:
# Usamos tambien el modelo de Arboles de decisión para hacer una comparación
from sklearn.tree import DecisionTreeRegressor
model2=DecisionTreeRegressor()
model2.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'random_state': None,
 'splitter': 'best'}

In [23]:

parametros2={"min_samples_leaf": (3,5,7),"max_depth":(4,6,8,10)}
mejor_modelo2=GridSearchCV(model2,parametros2,scoring="neg_root_mean_squared_error")

In [24]:
# Entrenamos en busca de los mejores parámetros del segundo modelo
mejor_modelo2.fit(X_train,y_train)
print(mejor_modelo2.cv_results_["params"])

[{'max_depth': 4, 'min_samples_leaf': 3}, {'max_depth': 4, 'min_samples_leaf': 5}, {'max_depth': 4, 'min_samples_leaf': 7}, {'max_depth': 6, 'min_samples_leaf': 3}, {'max_depth': 6, 'min_samples_leaf': 5}, {'max_depth': 6, 'min_samples_leaf': 7}, {'max_depth': 8, 'min_samples_leaf': 3}, {'max_depth': 8, 'min_samples_leaf': 5}, {'max_depth': 8, 'min_samples_leaf': 7}, {'max_depth': 10, 'min_samples_leaf': 3}, {'max_depth': 10, 'min_samples_leaf': 5}, {'max_depth': 10, 'min_samples_leaf': 7}]

In [25]:
#Mejores parámetros (seleccionados aleatoriamente)
print(mejor_modelo2.best_score_)
print(mejor_modelo2.best_params_)

-3.384155114089535
{'max_depth': 4, 'min_samples_leaf': 7}

In [26]:
# Predecimos con el modelo 2
y_pred2=mejor_modelo2.predict(X_test)

In [27]:

MSE2=mean_squared_error(y_test,y_pred2)
MSE2=(MSE)**.5
MSE2

3.167918026763615